/** @format */

* {
  list-style: none;
}
.flex {
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(auto-fill, minmax(14%, auto));
  width: 100%;
  margin: auto;
  padding: 0px;
  padding-top: 80px;
}
.ul_box {
  width: 94%;
  margin: auto;
  padding-bottom: 150px;
}

@media (max-width: 1448px) {
  .flex {
    grid-template-columns: repeat(auto-fill, minmax(20%, auto));
  }
}

/*/** @format 
>>>>>>> f1a60fa (second commit)
* {
  list-style: none;
}
.flex {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(20%, auto));
  width: 100%;
  margin: auto;
  padding: 0px;
}
.ul_box {
  width: 94%;
  margin: auto;
}

=======
*/
