/** @format */

.arrow {
  width: 28px;
  height: 28px;
  border: 1.7px solid #7e7878;
  border-radius: 50px;
  position: relative;
  top: calc(35px - 15px);
  background-color: white;
}
.left_arrow {
  transform: rotate(180deg);
}
.right_arrow {
  left: 20px;
}
.gradation_block {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  width: 50px;
  height: 70px;
}
.gradation_block_right {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  );
}
.box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  top: -11px;
  position: absolute;
}
