/** @format */

.cover {
  white-space: nowrap;
  overflow: scroll;
}
.inline {
  display: inline-block;

  text-align: center;
}
.flexC {
  display: flex;
  flex-direction: column;
}
.flex {
  display: flex;
}
.buttonCover {
  width: 10%;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
}
.button {
  width: 100%;
  display: flex;

  align-items: center;
  padding: 8px 20px;
  gap: 5px;
}
.text {
  width: 70%;
}
