/** @format */

.cover {
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.inline {
  display: inline-block;

  text-align: center;
}
.flexC {
  font-weight: bold;
  font-size: 13px;

  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #7e7878;

  margin-left: 10px;
}
.flex {
  height: 70px;
  display: flex;
  width: 94%;
  margin: auto;
  align-items: center;

  margin-top: 15px;
}
.buttonCover {
  border: none;

  display: flex;
  flex-direction: column;
  justify-items: end;
}
.button {
  height: 45px;
  margin-left: 20px;
  width: 80px;
  border-radius: 10px;
  border: 1.5px solid #afafaf;

  background-color: transparent;

  gap: 5px;
}
.text_cover {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-weight: bold;
}
.text {
  font-size: 13px;
}
.img {
  margin: auto;
  width: 28%;
  opacity: 0.5;
  padding-bottom: 8px;
}

.fixed_cover {
  position: sticky;
  top: 88px;
  width: 100%;
  background-color: white;
  z-index: 999;
  padding-top: 10px;
  left: calc(6% / 2);
  margin: auto;
  padding-bottom: 12px;
}
.postion {
  top: 78px;
}
